doctype html
html(lang="en")
    head
        include includes/_head.pug
        title Index
body
    h1 Index
    img( src=require("../images/test.png") )
    a( href="./copy.html" ) Copy
    div
        include includes/_test-sprite
